Podfile.lock
Pods/
Yelp.xcworkspace/xcuserdata
Twitter.xcodeproj/xcuserdata/mdeschamps.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Twitter.xcodeproj/xcuserdata/mdeschamps.xcuserdatad/xcschemes/Twitter.xcscheme
Twitter.xcodeproj/xcuserdata/mdeschamps.xcuserdatad/xcschemes/xcschememanagement.plist
Twitter.xcworkspace/xcuserdata/mdeschamps.xcuserdatad/UserInterfaceState.xcuserstate
Twitter.xcworkspace/xcuserdata/mdeschamps.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Twitter.xcodeproj/project.xcworkspace/xcuserdata
